In [7]:
#import library to connect the data base
import pyodbc
#pandas is library we usually use t process the data
import pandas as pd

In [8]:
#create connection

conn = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};SERVER=LAPTOP;DATABASE=Pertanian;Trusted_Connection=yes')

In [167]:
#pandas read sql 

df = pd.read_sql('SELECT * FROM Pertanian..table$',conn)

C:\Users\Ali\AppData\Local\Temp\ipykernel_4820\1665202559.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql('SELECT * FROM Pertanian..table$',conn)

In [186]:
df

,Provinsi,Bawang Merah (Ton),F3,F4,F5,F6,Bawang Putih (Ton),F8,F9,F10,...,Cabai Rawit (Ton),F18,F19,F20,F21,Tomat (Ton),F23,F24,F25,F26
0,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,None,2022.0,2021.0,2020.0,2019.0,2018.0,2022.0,2021.0,2020.0,2019.0,...,2022.0,2021.0,2020.0,2019.0,2018.0,2022.0,2021.0,2020.0,2019.0,2018.0
2,ACEH,10070.0,10136.0,11246.0,8840.0,6818.0,10.0,30.0,796.0,288.0,...,65308.0,51686.0,64782.0,61887.0,62168.0,8846.0,11706.0,20781.0,20821.0,19682.0
3,SUMATERA UTARA,64835.0,53962.0,29222.0,18072.0,16337.0,21.0,805.0,1339.0,975.0,...,87012.0,78663.0,61160.0,49246.0,39825.0,183015.0,203162.0,162744.0,118583.0,103650.0
4,SUMATERA BARAT,207376.0,200366.0,153770.0,122399.0,113865.0,791.0,1839.0,4906.0,1866.0,...,26656.0,35118.0,33356.0,31782.0,25178.0,118635.0,97271.0,113491.0,146829.0,131819.0
5,RIAU,195.0,329.0,263.0,507.0,186.0,0.0,NaN,0.0,0.0,...,7429.0,6694.0,8627.0,8120.0,12691.0,203.0,151.0,158.0,117.0,241.0
6,JAMBI,16050.0,13264.0,11977.0,9686.0,10059.0,13.0,132.0,502.0,395.0,...,12429.0,11526.0,13588.0,9880.0,8273.0,48008.0,23890.0,19652.0,12348.0,11621.0
7,SUMATERA SELATAN,1130.0,1125.0,934.0,1390.0,1443.0,467.0,36.0,115.0,157.0,...,9461.0,11562.0,11645.0,11014.0,13449.0,9054.0,8836.0,10620.0,12487.0,14050.0
8,BENGKULU,1023.0,990.0,1153.0,523.0,911.0,285.0,252.0,971.0,137.0,...,21427.0,16278.0,11476.0,11118.0,11353.0,39709.0,30868.0,23033.0,18485.0,18284.0
9,LAMPUNG,1727.0,1762.0,2105.0,3634.0,3608.0,3.0,112.0,808.0,49.0,...,11193.0,10921.0,10558.0,12796.0,14649.0,16190.0,15934.0,19096.0,18669.0,19604.0
10,KEP. BANGKA BELITUNG,79.0,208.0,157.0,170.0,86.0,0.0,NaN,0.0,0.0,...,3710.0,3954.0,3386.0,2002.0,2036.0,1926.0,1147.0,536.0,473.0,685.0
11,KEP. RIAU,41.0,33.0,123.0,95.0,1.0,0.0,NaN,0.0,0.0,...,1773.0,1627.0,2230.0,2339.0,1716.0,88.0,425.0,235.0,285.0,6.0
12,DKI JAKARTA,1.0,2.0,0.0,0.0,NaN,0.0,NaN,0.0,0.0,...,0.0,1.0,0.0,0.0,NaN,0.0,NaN,0.0,0.0,NaN
13,JAWA BARAT,193318.0,170650.0,164827.0,173463.0,167769.0,417.0,963.0,3253.0,6698.0,...,149053.0,137456.0,130838.0,128494.0,131417.0,272961.0,292309.0,299267.0,284948.0,268448.0
14,JAWA TENGAH,556510.0,564255.0,611165.0,481890.0,445585.0,21620.0,25545.0,33304.0,36179.0,...,242303.0,179287.0,159099.0,148750.0,141771.0,80577.0,77297.0,79832.0,81710.0,90404.0
15,DI YOGYAKARTA,22307.0,29809.0,18811.0,16999.0,14950.0,0.0,NaN,1.0,0.0,...,15198.0,15933.0,15052.0,10040.0,10147.0,884.0,949.0,1531.0,1372.0,821.0
16,JAWA TIMUR,478393.0,500992.0,454584.0,407877.0,367031.0,855.0,4220.0,5898.0,6935.0,...,646740.0,578883.0,684943.0,536098.0,453338.0,102099.0,93121.0,83920.0,74558.0,65585.0
17,BANTEN,1372.0,1190.0,1404.0,1545.0,880.0,0.0,1.0,0.0,0.0,...,3910.0,3993.0,5861.0,5019.0,5225.0,1895.0,1190.0,1894.0,830.0,784.0
18,BALI,31492.0,23215.0,14207.0,19687.0,24267.0,689.0,1040.0,1329.0,1563.0,...,28318.0,29175.0,35331.0,28656.0,31655.0,6004.0,12172.0,13811.0,15171.0,25602.0
19,NUSA TENGGARA BARAT,201155.0,222620.0,188740.0,188255.0,212885.0,4761.0,9223.0,24609.0,30453.0,...,50078.0,62539.0,98941.0,164773.0,210530.0,40742.0,28514.0,28609.0,29215.0,20871.0
20,NUSA TENGGARA TIMUR,7584.0,11430.0,10424.0,8254.0,4542.0,483.0,579.0,974.0,868.0,...,19881.0,9076.0,10468.0,8816.0,5248.0,9215.0,10605.0,9907.0,9950.0,5466.0
21,KALIMANTAN BARAT,44.0,104.0,227.0,53.0,85.0,0.0,NaN,0.0,0.0,...,6193.0,6332.0,6133.0,5731.0,4166.0,3136.0,4108.0,1857.0,2088.0,1128.0
22,KALIMANTAN TENGAH,112.0,34.0,79.0,396.0,696.0,0.0,NaN,0.0,0.0,...,5419.0,6961.0,6124.0,5864.0,3639.0,2425.0,3505.0,4352.0,2410.0,1831.0
23,KALIMANTAN SELATAN,246.0,389.0,462.0,1143.0,1411.0,0.0,NaN,0.0,1.0,...,11764.0,11758.0,15616.0,13768.0,12672.0,4303.0,5067.0,7409.0,7399.0,7813.0
24,KALIMANTAN TIMUR,114.0,72.0,267.0,173.0,828.0,0.0,NaN,0.0,0.0,...,7778.0,8367.0,9081.0,8029.0,6797.0,8841.0,9101.0,8210.0,7430.0,7151.0
25,KALIMANTAN UTARA,7.0,88.0,90.0,139.0,95.0,0.0,NaN,0.0,0.0,...,5875.0,5819.0,3330.0,3821.0,3298.0,7783.0,6008.0,2367.0,2688.0,2843.0
26,SULAWESI UTARA,5020.0,4986.0,4937.0,3139.0,3740.0,0.0,11.0,875.0,1896.0,...,19006.0,17371.0,22414.0,14760.0,16470.0,82079.0,66711.0,57331.0,42392.0,53075.0
27,SULAWESI TENGAH,3454.0,4652.0,5725.0,6508.0,8363.0,116.0,211.0,934.0,55.0,...,25389.0,22199.0,25042.0,22632.0,26091.0,18870.0,17634.0,26706.0,16516.0,16163.0
28,SULAWESI SELATAN,175160.0,183210.0,124381.0,101762.0,92392.0,1.0,47.0,307.0,282.0,...,23761.0,26423.0,24052.0,26115.0,36568.0,65919.0,63373.0,60435.0,58513.0,67373.0
29,SULAWESI TENGGARA,449.0,1015.0,655.0,390.0,486.0,0.0,NaN,0.0,0.0,...,3915.0,4287.0,3801.0,3669.0,4485.0,4115.0,4800.0,4720.0,5608.0,3792.0
30,GORONTALO,418.0,346.0,476.0,629.0,1409.0,0.0,6.0,0.0,0.0,...,14805.0,13032.0,14729.0,20580.0,25695.0,4370.0,2808.0,2721.0,3543.0,3148.0
31,SULAWESI BARAT,748.0,693.0,631.0,507.0,545.0,48.0,36.0,886.0,0.0,...,3496.0,3336.0,1399.0,2663.0,2659.0,1967.0,1483.0,760.0,1662.0,1378.0
32,MALUKU,759.0,1013.0,1106.0,736.0,1042.0,0.0,NaN,0.0,0.0,...,3847.0,3596.0,5027.0,3440.0,3733.0,5086.0,4024.0,4110.0,3324.0,3549.0
33,MALUKU UTARA,805.0,1231.0,951.0,624.0,261.0,0.0,NaN,0.0,0.0,...,2873.0,3733.0,4527.0,4650.0,1097.0,8479.0,5449.0,6785.0,7548.0,877.0
34,PAPUA BARAT,78.0,118.0,136.0,184.0,142.0,3.0,5.0,0.0,0.0,...,4107.0,3808.0,2351.0,3277.0,625.0,5584.0,2214.0,1311.0,2511.0,826.0
35,PAPUA,286.0,304.0,209.0,578.0,720.0,0.0,NaN,0.0,19.0,...,4335.0,5054.0,3436.0,4388.0,6944.0,5735.0,8569.0,6804.0,9850.0,8220.0
36,INDONESIA,1982360.0,2004590.0,1815445.0,1580247.0,1503438.0,30582.0,45092.0,81805.0,88816.0,...,1544441.0,1386447.0,1508404.0,1374217.0,1335608.0,1168744.0,1114399.0,1084993.0,1020333.0,976790.0

In [ ]:
#sqlalchemy is a library to use to save table into database
from sqlalchemy import create_engine

# Create an engine that connects to the SQL Server database
engine = create_engine('mssql+pyodbc://LAPTOP/Pertanian?driver=ODBC+Driver+17+for+SQL+Server')

In [195]:
#i creat all of the data processing as a def cause i think  same way to handle it
def split_komoditi(table_name,x,y,df):
    df_BM = df.iloc[1:,[0]+list(range(x, y+1))]
    df_BM.iloc[0,0] = "Province"
    for i in df_BM.columns:
        if i != "Provinsi":
            df_BM[i]=df_BM[i].fillna(0).astype(int)
    new_header = df_BM.iloc[0]
    df = df_BM.iloc[2:]
    df.columns = new_header

    df = df.reset_index(drop=True)
    df.to_sql(table_name, engine, index=False, if_exists='replace')
    print("success..")

In [201]:
#usage of
x = 21
y =25
table_name = "tomat"

split_komoditi(table_name,x,y,df)

success..

In [187]:
df

,Provinsi,Bawang Merah (Ton),F3,F4,F5,F6,Bawang Putih (Ton),F8,F9,F10,...,Cabai Rawit (Ton),F18,F19,F20,F21,Tomat (Ton),F23,F24,F25,F26
0,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,None,2022.0,2021.0,2020.0,2019.0,2018.0,2022.0,2021.0,2020.0,2019.0,...,2022.0,2021.0,2020.0,2019.0,2018.0,2022.0,2021.0,2020.0,2019.0,2018.0
2,ACEH,10070.0,10136.0,11246.0,8840.0,6818.0,10.0,30.0,796.0,288.0,...,65308.0,51686.0,64782.0,61887.0,62168.0,8846.0,11706.0,20781.0,20821.0,19682.0
3,SUMATERA UTARA,64835.0,53962.0,29222.0,18072.0,16337.0,21.0,805.0,1339.0,975.0,...,87012.0,78663.0,61160.0,49246.0,39825.0,183015.0,203162.0,162744.0,118583.0,103650.0
4,SUMATERA BARAT,207376.0,200366.0,153770.0,122399.0,113865.0,791.0,1839.0,4906.0,1866.0,...,26656.0,35118.0,33356.0,31782.0,25178.0,118635.0,97271.0,113491.0,146829.0,131819.0
5,RIAU,195.0,329.0,263.0,507.0,186.0,0.0,NaN,0.0,0.0,...,7429.0,6694.0,8627.0,8120.0,12691.0,203.0,151.0,158.0,117.0,241.0
6,JAMBI,16050.0,13264.0,11977.0,9686.0,10059.0,13.0,132.0,502.0,395.0,...,12429.0,11526.0,13588.0,9880.0,8273.0,48008.0,23890.0,19652.0,12348.0,11621.0
7,SUMATERA SELATAN,1130.0,1125.0,934.0,1390.0,1443.0,467.0,36.0,115.0,157.0,...,9461.0,11562.0,11645.0,11014.0,13449.0,9054.0,8836.0,10620.0,12487.0,14050.0
8,BENGKULU,1023.0,990.0,1153.0,523.0,911.0,285.0,252.0,971.0,137.0,...,21427.0,16278.0,11476.0,11118.0,11353.0,39709.0,30868.0,23033.0,18485.0,18284.0
9,LAMPUNG,1727.0,1762.0,2105.0,3634.0,3608.0,3.0,112.0,808.0,49.0,...,11193.0,10921.0,10558.0,12796.0,14649.0,16190.0,15934.0,19096.0,18669.0,19604.0
10,KEP. BANGKA BELITUNG,79.0,208.0,157.0,170.0,86.0,0.0,NaN,0.0,0.0,...,3710.0,3954.0,3386.0,2002.0,2036.0,1926.0,1147.0,536.0,473.0,685.0
11,KEP. RIAU,41.0,33.0,123.0,95.0,1.0,0.0,NaN,0.0,0.0,...,1773.0,1627.0,2230.0,2339.0,1716.0,88.0,425.0,235.0,285.0,6.0
12,DKI JAKARTA,1.0,2.0,0.0,0.0,NaN,0.0,NaN,0.0,0.0,...,0.0,1.0,0.0,0.0,NaN,0.0,NaN,0.0,0.0,NaN
13,JAWA BARAT,193318.0,170650.0,164827.0,173463.0,167769.0,417.0,963.0,3253.0,6698.0,...,149053.0,137456.0,130838.0,128494.0,131417.0,272961.0,292309.0,299267.0,284948.0,268448.0
14,JAWA TENGAH,556510.0,564255.0,611165.0,481890.0,445585.0,21620.0,25545.0,33304.0,36179.0,...,242303.0,179287.0,159099.0,148750.0,141771.0,80577.0,77297.0,79832.0,81710.0,90404.0
15,DI YOGYAKARTA,22307.0,29809.0,18811.0,16999.0,14950.0,0.0,NaN,1.0,0.0,...,15198.0,15933.0,15052.0,10040.0,10147.0,884.0,949.0,1531.0,1372.0,821.0
16,JAWA TIMUR,478393.0,500992.0,454584.0,407877.0,367031.0,855.0,4220.0,5898.0,6935.0,...,646740.0,578883.0,684943.0,536098.0,453338.0,102099.0,93121.0,83920.0,74558.0,65585.0
17,BANTEN,1372.0,1190.0,1404.0,1545.0,880.0,0.0,1.0,0.0,0.0,...,3910.0,3993.0,5861.0,5019.0,5225.0,1895.0,1190.0,1894.0,830.0,784.0
18,BALI,31492.0,23215.0,14207.0,19687.0,24267.0,689.0,1040.0,1329.0,1563.0,...,28318.0,29175.0,35331.0,28656.0,31655.0,6004.0,12172.0,13811.0,15171.0,25602.0
19,NUSA TENGGARA BARAT,201155.0,222620.0,188740.0,188255.0,212885.0,4761.0,9223.0,24609.0,30453.0,...,50078.0,62539.0,98941.0,164773.0,210530.0,40742.0,28514.0,28609.0,29215.0,20871.0
20,NUSA TENGGARA TIMUR,7584.0,11430.0,10424.0,8254.0,4542.0,483.0,579.0,974.0,868.0,...,19881.0,9076.0,10468.0,8816.0,5248.0,9215.0,10605.0,9907.0,9950.0,5466.0
21,KALIMANTAN BARAT,44.0,104.0,227.0,53.0,85.0,0.0,NaN,0.0,0.0,...,6193.0,6332.0,6133.0,5731.0,4166.0,3136.0,4108.0,1857.0,2088.0,1128.0
22,KALIMANTAN TENGAH,112.0,34.0,79.0,396.0,696.0,0.0,NaN,0.0,0.0,...,5419.0,6961.0,6124.0,5864.0,3639.0,2425.0,3505.0,4352.0,2410.0,1831.0
23,KALIMANTAN SELATAN,246.0,389.0,462.0,1143.0,1411.0,0.0,NaN,0.0,1.0,...,11764.0,11758.0,15616.0,13768.0,12672.0,4303.0,5067.0,7409.0,7399.0,7813.0
24,KALIMANTAN TIMUR,114.0,72.0,267.0,173.0,828.0,0.0,NaN,0.0,0.0,...,7778.0,8367.0,9081.0,8029.0,6797.0,8841.0,9101.0,8210.0,7430.0,7151.0
25,KALIMANTAN UTARA,7.0,88.0,90.0,139.0,95.0,0.0,NaN,0.0,0.0,...,5875.0,5819.0,3330.0,3821.0,3298.0,7783.0,6008.0,2367.0,2688.0,2843.0
26,SULAWESI UTARA,5020.0,4986.0,4937.0,3139.0,3740.0,0.0,11.0,875.0,1896.0,...,19006.0,17371.0,22414.0,14760.0,16470.0,82079.0,66711.0,57331.0,42392.0,53075.0
27,SULAWESI TENGAH,3454.0,4652.0,5725.0,6508.0,8363.0,116.0,211.0,934.0,55.0,...,25389.0,22199.0,25042.0,22632.0,26091.0,18870.0,17634.0,26706.0,16516.0,16163.0
28,SULAWESI SELATAN,175160.0,183210.0,124381.0,101762.0,92392.0,1.0,47.0,307.0,282.0,...,23761.0,26423.0,24052.0,26115.0,36568.0,65919.0,63373.0,60435.0,58513.0,67373.0
29,SULAWESI TENGGARA,449.0,1015.0,655.0,390.0,486.0,0.0,NaN,0.0,0.0,...,3915.0,4287.0,3801.0,3669.0,4485.0,4115.0,4800.0,4720.0,5608.0,3792.0
30,GORONTALO,418.0,346.0,476.0,629.0,1409.0,0.0,6.0,0.0,0.0,...,14805.0,13032.0,14729.0,20580.0,25695.0,4370.0,2808.0,2721.0,3543.0,3148.0
31,SULAWESI BARAT,748.0,693.0,631.0,507.0,545.0,48.0,36.0,886.0,0.0,...,3496.0,3336.0,1399.0,2663.0,2659.0,1967.0,1483.0,760.0,1662.0,1378.0
32,MALUKU,759.0,1013.0,1106.0,736.0,1042.0,0.0,NaN,0.0,0.0,...,3847.0,3596.0,5027.0,3440.0,3733.0,5086.0,4024.0,4110.0,3324.0,3549.0
33,MALUKU UTARA,805.0,1231.0,951.0,624.0,261.0,0.0,NaN,0.0,0.0,...,2873.0,3733.0,4527.0,4650.0,1097.0,8479.0,5449.0,6785.0,7548.0,877.0
34,PAPUA BARAT,78.0,118.0,136.0,184.0,142.0,3.0,5.0,0.0,0.0,...,4107.0,3808.0,2351.0,3277.0,625.0,5584.0,2214.0,1311.0,2511.0,826.0
35,PAPUA,286.0,304.0,209.0,578.0,720.0,0.0,NaN,0.0,19.0,...,4335.0,5054.0,3436.0,4388.0,6944.0,5735.0,8569.0,6804.0,9850.0,8220.0
36,INDONESIA,1982360.0,2004590.0,1815445.0,1580247.0,1503438.0,30582.0,45092.0,81805.0,88816.0,...,1544441.0,1386447.0,1508404.0,1374217.0,1335608.0,1168744.0,1114399.0,1084993.0,1020333.0,976790.0

In [203]:
#code to make sure range is the same as we want
df_BM = df.iloc[1:,[0]+list(range(21, 25+1))]

In [200]:
df_BM

,Provinsi,Tomat (Ton),F23,F24,F25,F26
1,None,2022.0,2021.0,2020.0,2019.0,2018.0
2,ACEH,8846.0,11706.0,20781.0,20821.0,19682.0
3,SUMATERA UTARA,183015.0,203162.0,162744.0,118583.0,103650.0
4,SUMATERA BARAT,118635.0,97271.0,113491.0,146829.0,131819.0
5,RIAU,203.0,151.0,158.0,117.0,241.0
6,JAMBI,48008.0,23890.0,19652.0,12348.0,11621.0
7,SUMATERA SELATAN,9054.0,8836.0,10620.0,12487.0,14050.0
8,BENGKULU,39709.0,30868.0,23033.0,18485.0,18284.0
9,LAMPUNG,16190.0,15934.0,19096.0,18669.0,19604.0
10,KEP. BANGKA BELITUNG,1926.0,1147.0,536.0,473.0,685.0
11,KEP. RIAU,88.0,425.0,235.0,285.0,6.0
12,DKI JAKARTA,0.0,NaN,0.0,0.0,NaN
13,JAWA BARAT,272961.0,292309.0,299267.0,284948.0,268448.0
14,JAWA TENGAH,80577.0,77297.0,79832.0,81710.0,90404.0
15,DI YOGYAKARTA,884.0,949.0,1531.0,1372.0,821.0
16,JAWA TIMUR,102099.0,93121.0,83920.0,74558.0,65585.0
17,BANTEN,1895.0,1190.0,1894.0,830.0,784.0
18,BALI,6004.0,12172.0,13811.0,15171.0,25602.0
19,NUSA TENGGARA BARAT,40742.0,28514.0,28609.0,29215.0,20871.0
20,NUSA TENGGARA TIMUR,9215.0,10605.0,9907.0,9950.0,5466.0
21,KALIMANTAN BARAT,3136.0,4108.0,1857.0,2088.0,1128.0
22,KALIMANTAN TENGAH,2425.0,3505.0,4352.0,2410.0,1831.0
23,KALIMANTAN SELATAN,4303.0,5067.0,7409.0,7399.0,7813.0
24,KALIMANTAN TIMUR,8841.0,9101.0,8210.0,7430.0,7151.0
25,KALIMANTAN UTARA,7783.0,6008.0,2367.0,2688.0,2843.0
26,SULAWESI UTARA,82079.0,66711.0,57331.0,42392.0,53075.0
27,SULAWESI TENGAH,18870.0,17634.0,26706.0,16516.0,16163.0
28,SULAWESI SELATAN,65919.0,63373.0,60435.0,58513.0,67373.0
29,SULAWESI TENGGARA,4115.0,4800.0,4720.0,5608.0,3792.0
30,GORONTALO,4370.0,2808.0,2721.0,3543.0,3148.0
31,SULAWESI BARAT,1967.0,1483.0,760.0,1662.0,1378.0
32,MALUKU,5086.0,4024.0,4110.0,3324.0,3549.0
33,MALUKU UTARA,8479.0,5449.0,6785.0,7548.0,877.0
34,PAPUA BARAT,5584.0,2214.0,1311.0,2511.0,826.0
35,PAPUA,5735.0,8569.0,6804.0,9850.0,8220.0
36,INDONESIA,1168744.0,1114399.0,1084993.0,1020333.0,976790.0

In [143]:
df_BM.iloc[0,0] = "Province"

In [144]:
df_BM.iloc[:,2:] = df_BM.iloc[:,2:].fillna(0).astype(int)

In [145]:
for i in df_BM.columns:
    if i != "Provinsi":
        df_BM[i]=df_BM[i].fillna(0).astype(int)

In [146]:
df_BM

,Provinsi,Bawang Merah (Ton),F3,F4,F5,F6
1,Province,2022,2021,2020,2019,2018
2,ACEH,10070,10136,11246,8840,6818
3,SUMATERA UTARA,64835,53962,29222,18072,16337
4,SUMATERA BARAT,207376,200366,153770,122399,113865
5,RIAU,195,329,263,507,186
6,JAMBI,16050,13264,11977,9686,10059
7,SUMATERA SELATAN,1130,1125,934,1390,1443
8,BENGKULU,1023,990,1153,523,911
9,LAMPUNG,1727,1762,2105,3634,3608
10,KEP. BANGKA BELITUNG,79,208,157,170,86
11,KEP. RIAU,41,33,123,95,1
12,DKI JAKARTA,1,2,0,0,0
13,JAWA BARAT,193318,170650,164827,173463,167769
14,JAWA TENGAH,556510,564255,611165,481890,445585
15,DI YOGYAKARTA,22307,29809,18811,16999,14950
16,JAWA TIMUR,478393,500992,454584,407877,367031
17,BANTEN,1372,1190,1404,1545,880
18,BALI,31492,23215,14207,19687,24267
19,NUSA TENGGARA BARAT,201155,222620,188740,188255,212885
20,NUSA TENGGARA TIMUR,7584,11430,10424,8254,4542
21,KALIMANTAN BARAT,44,104,227,53,85
22,KALIMANTAN TENGAH,112,34,79,396,696
23,KALIMANTAN SELATAN,246,389,462,1143,1411
24,KALIMANTAN TIMUR,114,72,267,173,828
25,KALIMANTAN UTARA,7,88,90,139,95
26,SULAWESI UTARA,5020,4986,4937,3139,3740
27,SULAWESI TENGAH,3454,4652,5725,6508,8363
28,SULAWESI SELATAN,175160,183210,124381,101762,92392
29,SULAWESI TENGGARA,449,1015,655,390,486
30,GORONTALO,418,346,476,629,1409
31,SULAWESI BARAT,748,693,631,507,545
32,MALUKU,759,1013,1106,736,1042
33,MALUKU UTARA,805,1231,951,624,261
34,PAPUA BARAT,78,118,136,184,142
35,PAPUA,286,304,209,578,720
36,INDONESIA,1982360,2004590,1815445,1580247,1503438

In [147]:
#change column name 
new_header = df_BM.iloc[0]
df = df_BM.iloc[2:]
df.columns = new_header
df = df.reset_index(drop=True)

In [163]:
from sqlalchemy import create_engine

# Create an engine that connects to the SQL Server database
engine = create_engine('mssql+pyodbc://LAPTOP/Pertanian?driver=ODBC+Driver+17+for+SQL+Server')

# Create a new table in the database and insert the data from the DataFrame
df.to_sql('new_table_name', engine, index=False, if_exists='replace')

34